body{
    background-color: blanchedalmond;
    align-items: center;
    text-align: center;
    font-size: 5px;
    display: flex;
    width: 50%;
    height: 50%;
}
.container{
  text-align: center;
  align-items: center;
  padding: 0%;
  width: 337px;
  font-size: 10px;
}
form{
  text-align: center;  
}

h1{
    text-align: center;
    align-items: center;
    background-color: salmon;
    color: seashell;
    padding: 15px;
    font-size: large;

}
a{
  font-size: 15px;
}
